html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
.textBox p{
  background-color: coral;
  margin: 0;
}
.textBox .miniHeadline{
  color:red;
  background-color: cornflowerblue;
}
.specialHighlight{
  color: white;
  background-color: black;
}
.textBox{
  background-color: aquamarine;
  width: 200px;
  border: black 1px dashed;
  padding: 10px;
  margin: 5px

}
.box1{
  position: absolute;
  left: 350px;
  top: 20px;
}

.box2{
  position: fixed;
  left: 100px;
  top: 20px;
}

.box3{
  position: relative;
  left: 100px;
  top: 20px;
}

.relativeDescription{
  position: relative;
  left :10px;
  top: -5px;
}

#mainWrappper{
  background-color: brown;
  width: 500px;
  border: 4px gray solid;
  margin: auto;
  padding: 40px;
}